@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.contente_login{
width: 500px;
min-height: 560px;    
margin: auto;
position: relative;
margin-top: 25px;
margin-bottom: 105px;
}
.contente_cadastro{
width: 500px;
min-height: 560px;    
margin: auto;
position: relative;
margin-top: 65px;
}

div.cadastro{
position: relative;
}

.containerr h2{
font-size: 48px;
color: #1ebb26;
padding: 2px 0 10px 0;
font-family: 'Julius Sans One', sans-serif;
font-weight: bold;
text-align: center;
padding-bottom: 30px;
}

.containerr h2:after{
content: ' ';
display: block;
width: 100%;
height: 2px;
margin-top: 10px;
background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

.containerr p{
margin-bottom:15px;
}

.containerr label{
color: #405c60;
position: relative;
}

.contente p:first-child{
margin: 0px;
}
/*Cor do Texto dentro da Caixa*/
::-webkit-input-placeholder  {
color: #bebcbc; 
font-style: italic;
}
/*Edita a caixa de Text*/
.containerr input:not([type="checkbox"]){
width: 95%;
margin-top: 4px;
padding: 10px;    
border: 1px solid #b2b2b2;

-webkit-border-radius: 3px;
border-radius: 3px;

-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.containerr input[type="submit"]{
width: 100%!important;
cursor: pointer;  
background: #1ebb26;
padding: 8px 5px;
color: #fff;
font-size: 20px;  
border: 1px solid #fff;   
margin-bottom: 10px;  
text-shadow: 0 1px 1px #333;

-webkit-border-radius: 5px;
border-radius: 5px;

transition: all 0.2s linear;
}
.containerr input[type="submit"]:hover{
background: #2ae904;
}

.link_l{
position: absolute;
background: #e1eaeb;
color: #7f7c7c;
left: 0px;
height: 30px;
width: 440px;
margin-top: 60px;
padding: 18px 30px 10px 30px;
font-size: 16px;
text-align:right;
border-top: 1px solid #dbe5e8;
border-radius: 0 0  5px 5px;
}

.link_c{
position: absolute;
background: #e1eaeb;
color: #7f7c7c;
left: 0px;
height: 20px; 
max-width: 440px;
min-width: 440px;
padding: 17px 30px 22px 30px;
font-size: 16px;
margin-top: auto;
text-align: right;
border-top: 1px solid #dbe5e8;
-webkit-border-radius: 0 0  5px 5px;
border-radius: 0 0  5px 5px;
}

.containerr span{
font-weight: bold;
background: #dbe5e8;
padding: 6px;
color: #1ebb26;
margin-left: 10px;
border: 1px solid rgb(44, 248, 78); 
text-decoration:  underline;
text-decoration-color: #dbe5e8;
-webkit-border-radius: 4px;
border-radius: 4px;  

-webkit-transition: all 0.4s linear;
transition: all 0.4s  linear;
}
.containerr span:hover{
color:rgba(68, 243, 68, 0.616);
background: #f7f7f7;
border: 1px solid #1ebb26;
}

.login{
position: absolute;
top: 25px;
width: 88%; 
padding: 50px 6% 120px 6%;
margin-bottom: 35px;
background: #f7f7f7;
border: 1px solid rgba(147, 184, 189,0.8);
 
-webkit-box-shadow: 5px;
border-radius: 5px;
 
-webkit-animation-duration: 0.5s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;

animation-duration: 0.5s;
animation-timing-function: ease;
animation-fill-mode: both;
}

.cadastro{
position: absolute;
top: 0px;
width: 88%;   
padding: 18px 6% 60px 6%;
margin: 0 0 20px 0;
background: #f7f7f7;
border: 1px solid rgba(147, 184, 189,0.8);
 
-webkit-box-shadow: 5px;
border-radius: 5px;
 
-webkit-animation-duration: 0.5s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;

animation-duration: 0.5s;
animation-timing-function: ease;
animation-fill-mode: both;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
 
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
 
/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
 
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}