@charset "UTF-8";

#parteSuperior{
    display: table;
    padding: 250px 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(../Img/Imagem-Home3.jpg) no-repeat bottom center scroll;
    background-position: 30% 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#parteInferior{
    background-color: aqua;
}
ul#paginas{
    position: absolute;
	width: 1200px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#paginas li{
	float: left;
	width: 250px;
	height: 250px;
	margin: 20px;
    margin-top: 95px;
	border: 5px solid #ffffff;
    border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,.4);
	-webkit-transition: all 0.8s ease-in;
}

ul#paginas li:hover{
	-webkit-transform: scale(1.1);
}

ul#paginas li:hover span{
	opacity: 1;
}

ul#paginas li#gastos {
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#paginas li#gastos:hover{
	background-position: 0px 0px;
	background-size: 100px 100px;
}
span{
    display: block;
    text-align: center;
    font-size: 25pt;
    color: #4dd119;
    width: 50px;
	height: 50px;
    margin-left: 100px;
    border: 3px solid #422f2f;
    border-radius: 100px;
    background-color: #ffffff;
}
#paginas p{
    margin-top: 20px;
    text-align: center;
}

#paginas input[type="button"]{
    width: 40%!important;
    cursor: pointer;  
    background: #1ebb26;
    padding: 3px 3px;
    color: #fff;
    font-size: 20px; 
    margin-left: 20px;
    margin-top: 60px; 
    border: 1px solid #fff;     
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
}

#paginas #btnRelatorios{
    margin-top: 80px;
    margin-left: 70px;
}

#paginas input[type="button"]:hover{
background: #2ae904;
}